#import("methods")
importFrom("inline", cxxfunction, getDynLib, getPlugin) 
export(cxxfunctionplus, is.null.cxxfun)
exportClasses(cxxdso)
exportMethods(getDynLib, is.dso.loaded, grab.cxxfun) 

importFrom("methods", "new")
importFrom("utils", "object.size")
